html,
body {
    /* height: 100%; */
    margin: 0 !important;
}

body {
    background: #2F1893;
    font-family: DM Sans;
}



.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.8rem;
    color: #FFFFFF;
}

.nav-items{
    display: flex;
    gap: 30px;
    
}

.nav-button{
    background: #E93A7D;
    padding: 10px 20px;
}

.nav-items-current{
    color: #8692f0;
    ;
}

.header-text{
    color: white;
    font-weight: 600;
}

.main-div {
    padding-top: 3%;
    margin: 0px 5rem;

}

.main-body{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    /* margin: 0px 5rem; */
}

.left-container{
    width: 80%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.left-container-title{   
font-size: 54px;
font-weight: 600;
line-height: 60px;
letter-spacing: -1px;
text-align: left;
width: 60%;

}

.left-container-details{
    width: 45%;
    font-size: 1.15rem;
}

.left-container-button{
    width: fit-content;
    border-style: none;
    background: #E93A7D;
    padding: 10px 20px;
    margin-top: 1.3rem;
}


.right-container{
    
    background: #FFFFFF;
    width: 40%;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-container-form{
    display: flex;
    flex-direction: column;
    margin-left: .5rem;
    gap: 14px;
    border-radius: 1rem;
    padding: 10px;
}

.right-container-title{
  
color: #1E0E62;


}

.right-container-sign-in{
    color: #25DAC5;
    cursor:pointer;
}

.button-sign-in{
    background: #482BE7;
}
.button-login{
    background: #1DA1F2;
    margin-bottom: 15px;

}

button, input{
    border-radius: 1rem;
    color: white;
    padding: 0.3rem;
    border-style: none; 
}
input{
    border: 1px solid red;
    color: black;
}

.or-container{
    display: flex;
    align-items: center;
    
}

.spanline{
    height: 1px;
    background:#e5ddf3;   
    width: calc(50% - 15px);
    margin-right: 10px;
    
}

.spantext{
    width: 30px;
    
}

@media only screen and (max-width: 600px) {

    .header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }
    .nav-items{
        display: flex;
        flex-direction: column;
        gap: 10px;
        
    }
    .main-div{
        margin: 0px 1rem;
    }
    .main-body{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 0px 1.2px;
    }
    .left-container-details{
        width: 80%;
        font-size: 1.15rem;
    }
    .left-container-button{
      
        display: block;
        margin-bottom: 1rem;
    }
    .right-container{
        width: 90%;
    }
    
  }